{% extends "::layout.html.twig" %}
{% block content %}
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar %}
              <li class="nav-header"><i class="icon-wrench"></i> Administration</li>
              <li><a href="users.html">Users</a></li>
              <li><a href="roles.html">Roles</a></li>
              <li class="nav-header"><i class="icon-signal"></i> Statistics</li>
              <li><a href="stats.html">General</a></li>
              <li><a href="user-stats.html">Users</a></li>
              <li><a href="visitor-stats.html">Visitors</a></li>
              <li class="nav-header"><i class="icon-user"></i> Profile</li>
              <li class="active"><a href="my-profile.html">My profile</a></li>
              <li><a href="#">Settings</a></li>
			  <li><a href="#">Logout</a></li> 
              {% endblock %}
            </ul>
          </div>
        </div>
        <div class="span9">
		  <div class="row-fluid">
		      {% block body_corp %}
			      <div class="page-header">
		          {% block body_header %}
			      {% endblock %}
			      </div>
		          {% block body_content%}
			      {% endblock %}
			  {% endblock %}
		  </div>
        </div>
        {% endblock %}