{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #edahira_dahirabundle_evenement_date select{
            width:73px
        }
        .niveau {
        	margin-top: 0px;
        }
        [class*="span"] {
          /*border:#ff0000 1px solid;*/
        }
    </style>
{% endblock %}

{% block title %}{{ parent()}} | {{'label.cotisation' | lower | trans }}{% endblock %}

{% block body_header %}
	<h1>{{ 'text.cotisation' | trans({'%type%': type.nom}) }}</h1>
{% endblock %}

{% block body_content %}

   Cotisation 
	
{% endblock %}