{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="span5 offset4 well">
	    {% for key, message in app.session.flashbag.all() %}
	        <div class="alert alert-{{ key }}">
		        {% for msg in message %}
		        	{{ msg | trans }}
	            {% endfor %}
	        </div>
	    {% endfor %}

	    {% block fos_user_content %}
	    {% endblock fos_user_content %}

	</div>
{% endblock %}
