{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% block title %}EdahiraDahiraBundle:Membre:afficher{% endblock %}

{% block body %}
<h1>Welcome to the Membre:afficher page</h1>
{% endblock %}
