{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% block title %}EdahiraDahiraBundle:Membre:supprimer{% endblock %}

{% block body_content %}
<h1>Welcome to the Membre:supprimer page</h1>
{% endblock %}
